.DS_Store
.dart_tool/
.settings/
.packages
.pub/
pubspec.lock
.project
build/
.idea/
android/.project
android/.settings/
example/android/.project
example/android/.settings/
example/ios/Flutter/flutter_export_environment.sh
android/.classpath
.classpath
